<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name=viewport content="width=device-width,initial-scale=1">
  <link rel=stylesheet href=https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css integrity=sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T crossorigin=anonymous>
  <link rel=icon href=static/favicon.ico>
  <title>remember-app</title>
  <link href=static/css/about.f34e11a2.css rel=prefetch>
  <link href=static/js/about.52d09b4e.js rel=prefetch>
  <link href=static/css/app.a33cfa14.css rel=preload as=style>
  <link href=static/js/app.73d47fb4.js rel=preload as=script>
  <link href=static/js/chunk-vendors.9227a20d.js rel=preload as=script>
  <link href=static/css/app.a33cfa14.css rel=stylesheet>
  <meta name="yandex-verification" content="10955c18ce425a9e" />
  <meta name="google-site-verification" content="A5FYjHqbnMMGyijKM1dEq6MmRT0VrE4HonoalPkese8" />
</head>
<body>
  <noscript><strong>We're sorry but remember-app doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
  <div id=app></div>
  <script src=static/js/chunk-vendors.9227a20d.js></script>
  <script src=static/js/app.73d47fb4.js></script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
     (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
     m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
     (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

     ym(55109710, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
     });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/55109710" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
</body>
</html>
